APScheduler @ file:///C:/ci/apscheduler_1612239294080/work
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
Brotli @ file:///C:/ci/brotli-split_1602517705222/work
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1613247279197/work
chardet @ file:///C:/ci/chardet_1607690654534/work
chart-studio==1.1.0
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
click-plugins==1.1.1
cligj==0.7.2
cryptography @ file:///C:/ci/cryptography_1616769344312/work
dash @ file:///tmp/build/80754af9/dash_1611168717544/work
dash-auth==1.4.1
dash-bootstrap-components==0.12.2
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-leaflet==0.1.16
dash-renderer==1.9.0
dash-table==4.11.2
et-xmlfile==1.1.0
Fiona==1.8.13.post1
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-Compress @ file:///tmp/build/80754af9/flask-compress_1623922802283/work
Flask-SeaSurf==0.3.0
future==0.18.2
GDAL==3.0.2
geobuf==1.1.1
geopandas @ file:///tmp/build/80754af9/geopandas_1594937497867/work
gunicorn==20.1.0
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1624781299557/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528314575/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854156666/work
mkl-service==2.3.0
munch==2.5.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1620833114945/work
openpyxl==3.0.7
pandas @ file:///C:/ci/pandas_1624383612827/work
plotly @ file:///tmp/build/80754af9/plotly_1610565580232/work
protobuf==3.14.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyproj @ file:///C:/ci/pyproj_1614278136892/work
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyYAML==5.4.1
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
retrying==1.3.3
Rtree @ file:///C:/ci/rtree_1618421009405/work
Shapely==1.7.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
tzlocal @ file:///C:/ci/tzlocal_1613145478157/work
ua-parser==0.10.0
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
