APScheduler
Brotli
certifi
chardet
click
dash

dash-renderer
Flask
Flask-Compress
future
idna
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
protobuf
python-dateutil
pytz
requests
retrying
six
tzlocal
urllib3
Werkzeug
xlrd
geopandas
dash-leaflet==0.1.5
gunicorn